html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(135deg, #402B3A 0%, #640D6B 100%);
    margin-bottom: 60px;
    color: #FFFFFF; /* Establece el color del texto a blanco */
}

h1 {
    font-family: 'Century Gothic', sans-serif; /* Cambiar la fuente para encabezados H1 */
    font-weight: bold; /* Aumentar el grosor de la fuente */
}

.navbar {
    background: linear-gradient(135deg, #B51B75 0%, #640D6B 100%);
    color: white;
}

/* Estilos para el texto en los botones */
.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
}

/* Estilos para los botones cuando no están siendo seleccionados */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: deeppink;
}
/* Estilos para las letras de Usuarios */
.usuarios-text {
    color: white;
}
